mat-toolbar {
    margin-bottom: 12px;
}

ul {
    list-style: none;
}

span a {
    text-shadow:2rem;
    color: white;
    text-decoration: none;
    font-size: larger;
}

li a {
    text-decoration: none;
    color: white;
    font-size: medium;
}

.spacer {
    flex: 1 1 auto;
}


a,
mat-button {
    padding: 1rem;
}

ul {
    display: flex;
}