<mat-card>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm" >
        
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input
              matInput
              type="text"
              placeholder="Enter Username"
              required
              name="username"
              ngModel
              #usernameInput="ngModel"
            >
            <mat-error *ngIf="usernameInput.invalid">Please Enter a valid name</mat-error>
          </mat-form-field>
      
      
        <mat-form-field>
        <mat-label>Enter email</mat-label>
        <input 
          matInput
          type="email"
          placeholder="Email"
          name="email"
          ngModel
          #emailInput="ngModel"
          required
          email
        />
        <mat-error *ngIf="emailInput.invalid">Please Enter a valid email </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input
          matInput
          type="number"
          placeholder="Enter your phone number"
          required
          name="phone"
          minlength="10"
          maxlength="10"
          ngModel
          #phoneInput="ngModel"
        >
        <mat-error *ngIf="phoneInput.invalid">Please Enter a valid phone number</mat-error>
      </mat-form-field>
 
      <mat-form-field>
        <mat-label>Enter password</mat-label>
        <input 
          matInput
          type="password"
          placeholder="Enter password"
          required
          name="password"
          ngModel
          #passwordInput="ngModel"
        >
        <mat-error *ngIf="passwordInput.invalid">Please Enter a valid password</mat-error>
      </mat-form-field>
      
      <button mat-raised-button color="accent" type="submit">Sign up</button>
    </form>
  </mat-card>
  